.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.product-box {
  margin-top: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
}
.product-box img {
  width: 10%;
  height: auto;
  display: block;
  margin: auto;
}
.product-box h3,
.product-box p {
  font-size: 0.8rem;
  text-align: center;
  width: 30%;
  margin: auto;
}
.product-price {
  font-weight: bold;
}
